{
  "plugins": [
    ["prismjs", {
      "languages": ["php", "js", "html", "css", "shell", "yaml", "smarty"],
      "plugins": ["line-numbers", "line-highlight"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
